html {
	font-family: basic-sans, sans-serif;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid black;
}

.navbar a {
	text-decoration: none;
	color: black;
}

.navbar p {
	margin: 0;
}

.leftnav p {
	font-size: 32px;
	font-weight: bolder;
	margin: 16px;
}

.rightnav p {
	font-size: 24px;
	font-weight: bolder;
	text-align: right;
	margin: 16px;
}

.navbutton {
	background-color: gray;
	border-radius: 24px;
}